
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body{
	font-family: 'Roboto', sans-serif;
	background-color:#add9e6;

}
img#fototopo{

	width:100px;
	height:150px;
	float: right;
	position: relative;
	margin-top: -5.8%;

}
h2{
	width: 100%;
	height: 10%;
	background-color: #4f637a;
	display: inline-block;
	color:white;

}
